<div class="modal fade" id="addBubbleDialog" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <head>
                    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>

                </head>
                <form role="form" name="bubble" action="#" id="bubbleForm" method="post">
                    <table id="myTable" style="border: 1px solid black">
                        <tbody></tbody>
                    </table>
                    <p>
                        <input id=insert type="button" value="Insert row">
                    </p>

                    <div class="row">
                        <div class="col-md-offset-4 col-md-12">
                            <div class="form-group">
                                <input type="submit" id="submitBubble" value="Done" name="submitBubble"
                                       class="wide btn btn-primary addNews">

                            </div>
                        </div>
                    </div>
                    <form>
            </div>
        </div>
    </div>
</div>