    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"> azazte admin </a>
            </div>
            <ul class="nav navbar-nav">
                <li><a class="newsButton" data-value="approved" href="javascript: void(0);"> Approved </a></li>
                <li><a  href="javascript: void(0);" data-value="all" class="newsButton"> All News </a></li>
                <li><a  class="newsButton" data-value="pending" href="javascript: void(0);"> Pending </a></li>
            </ul>
        </div>
    </nav>
    </nav>